<div class="sidebar-overlay" *ngIf="isVisible" (click)="close()"></div>
<div class="sidebar" [class.visible]="isVisible">
    <div class="sidebar-header">
        <h5 class="sidebar-title">{{ role?.Id ? 'Edit Role' : 'Add Role' }}</h5>
        <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="sidebar-body">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                    placeholder="Enter  name">
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" id="code" formControlName="code"
                    placeholder="Enter code">
            </div>
            
            <div class="sidebar-footer">
                <button type="submit" class="btn btn-primary">{{ role?.Id ? 'Update' : 'Save' }}</button>
            </div>
        </form>
    </div>
</div>