.btn-edit,
.btn-delete {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    margin-top: 5px !important;

}

.btn-edit .mdi,
.btn-delete .mdi {
    margin-right: 4px !important;
    font-size: 20px !important;
}

.btn-delete {
    margin-left: 5px !important;
    color: red !important;
}