.page-body-wrapper {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px !important;
}
@media (max-width: 767px) {
    .content-wrapper {
        padding: 3.5rem 1.5rem !important;
    }
}
.content-wrapper {
    background: #f4f7fa;
    padding: 3.5rem 1.5rem !important;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}