fastapi
uvicorn[standard]
gunicorn
sqlalchemy
pyodbc
pyjwt
passlib[bcrypt]
python-multipart
pycryptodome
bcrypt
pydantic
pydantic-settings
python-dotenv
openai
httpx
requests
typing-extensions
alembic