.footer {
    background: #001737 !important;
    padding: 1.5rem 2.5rem !important;
    transition: all 0.25s ease !important;
    -moz-transition: all 0.25s ease !important;
    -webkit-transition: all 0.25s ease !important;
    -ms-transition: all 0.25s ease !important;
    font-size: 0.875rem !important;
    font-family: "Karla", sans-serif !important;
    font-weight: 400 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
}