
.sidebar {
    min-height: calc(100vh - 60px);
    background: #001737;
    font-family: "Karla", sans-serif;
    font-weight: normal;
    padding: 0;
    padding-top: 25px !important;
    width: 240px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 6px 16px 31px -18px #b7bcd1;
    -webkit-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -moz-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -ms-box-shadow: 6px 16px 31px -18px #b7bcd1;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: rgba(255, 255, 255, 0.4);
    color: #fff !important;
    border-radius: 4px;
    border-top: 1px solid #001737 !important;
}

.sidebar .nav .nav-item:first-child .nav-link {
    border-top: 1px solid #001737 !important;
}